<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="cloud.popples.overview.dioc.othereg.dao.EmpDaoMySQL" id="empDaoMySQL" />
    <bean class="cloud.popples.overview.dioc.othereg.dao.EmpDaoOracle" id="empDaoOracle" />

    <bean class="cloud.popples.overview.dioc.othereg.Servlet.EmpServletImpl" id="servlet">
        <!--If you need to change EmpDaoImpl, there is no need to change codes.-->
        <!--<property name="empDao" ref="empDaoMySQL"/>-->
        <property name="empDao" ref="empDaoOracle"/>
    </bean>
</beans>